[submodule "vim/bundle/vim-colors-solarized"]
    path = vim/bundle/vim-colors-solarized
    url = https://github.com/altercation/vim-colors-solarized
[submodule "vim/bundle/ack"]
	path = vim/bundle/ack
	url = https://github.com/mileszs/ack.vim.git
[submodule "vim/bundle/nerdtree"]
    path = vim/bundle/nerdtree
    url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/lightline"]
    path = vim/bundle/lightline
    url = https://github.com/itchyny/lightline.vim
[submodule "vim/bundle/tcomment"]
    path = vim/bundle/tcomment
    url = https://github.com/tomtom/tcomment_vim
[submodule "vim/bundle/neocomplcache"]
	path = vim/bundle/neocomplcache
	url = https://github.com/Shougo/neocomplcache.vim
[submodule "vim/bundle/vim-coffee-script"]
	path = vim/bundle/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "vim/bundle/ctrlp"]
	path = vim/bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim
[submodule "vim/bundle/fugitive"]
	path = vim/bundle/fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "vim/bundle/syntastic"]
	path = vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic
[submodule "vim/bundle/slimv"]
	path = vim/bundle/slimv
	url = https://github.com/kovisoft/slimv
[submodule "vim/bundle/jsbeautify"]
	path = vim/bundle/jsbeautify
	url = https://github.com/maksimr/vim-jsbeautify
[submodule "vim/bundle/vim-scala"]
	path = vim/bundle/vim-scala
	url = https://github.com/derekwyatt/vim-scala.git
[submodule "vim/bundle/flake8"]
	path = vim/bundle/flake8
	url = https://github.com/nvie/vim-flake8.git
[submodule "vim/bundle/isort"]
	path = vim/bundle/isort
	url = https://github.com/fisadev/vim-isort.git
[submodule "vim/bundle/elm"]
	path = vim/bundle/elm
	url = https://github.com/ElmCast/elm-vim.git
[submodule "vim/bundle/autopep8"]
	path = vim/bundle/autopep8
	url = git@github.com:tell-k/vim-autopep8.git
[submodule "vim/bundle/ale"]
	path = vim/bundle/ale
	url = git@github.com:w0rp/ale.git
[submodule "vim/bundle/vim-go"]
	path = vim/bundle/vim-go
	url = git@github.com:fatih/vim-go.git
