[color]
	ui = true
[rerere]
	enabled = true
[user]
	name = Yoav Zimmerman
	email = yoavzimmerman@gmail.com
[core]
	editor = vim
	excludesfile = ~/.gitignore
[push]
	default = current
[credential]
	helper = osxkeychain
