[color]
	ui = true
[rerere]
	enabled = true
[user]
	name = Yoav Zimmerman
	email = yoavzimmerman@gmail.com
[core]
	editor = nvim
	excludesfile = /Users/yoavz/.gitignore_global
    attributesfile = ~/.gitattributes_global
	autocrlf = false
[push]
	default = current
[credential]
	helper = osxkeychain

[diff]
  tool = meld
[difftool]
  prompt = false
[difftool "meld"]
  trustExitCode = true
  cmd = open -W -a Meld --args \"$LOCAL\" \"$REMOTE\"
[merge]
  tool = meld
[mergetool]
  prompt = false
[mergetool "meld"]
  trustExitCode = true
    cmd = open -W -a Meld --args --auto-merge \"$PWD/$LOCAL\" \"$PWD/$BASE\" \"$PWD/$REMOTE\" --output=\"$PWD/$MERGED\"
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
