[color]
	ui = true
[rerere]
	enabled = true
[user]
	name = Yoav Zimmerman
	email = yoavzimmerman@gmail.com
[core]
	editor = vim
	excludesfile = /Users/yoavz/.gitignore_global
    attributesfile = ~/.gitattributes_global
	autocrlf = false
[push]
	default = current
[credential]
	helper = osxkeychain
# [filter "nbstrip_full"]
#     clean = "jq --indent 1 \
#             '(.cells[] | select(has(\"outputs\")) | .outputs) = []  \
#             | (.cells[] | select(has(\"execution_count\")) | .execution_count) = null  \
#             | .metadata = {\"language_info\": {\"name\": \"python\", \"pygments_lexer\": \"ipython3\"}} \
#             | .cells[].metadata = {} \
#             | .cells[].outputs = {} \
#             '"
#     smudge = cat
#     required = true
